bin/
obj/
artifacts/
.vs/
.idea/
.vscode/

**/bin/
**/obj/

product/TaskbarStats/Resources/*.dll
product/TaskbarStats/Resources/*.exe
product/TaskbarStatsInstaller/Resources/*.zip
product/TaskbarStatsMsi/Generated/
product/TaskbarStatsSettings/target/
product/TaskbarStatsSettingsTauri/src-tauri/target/
ornek_proje/OpenQuota/

*.user
*.suo
*.log
*.tmp
